body { 
  background-color: #222; 
  color: white; 
  text-align: center; 
  font-family: sans-serif; 
  padding-top: 100px;
  transition: 0.5s; /* Smooth transition like a real light */
}
        
button { 
  padding: 15px 30px; 
  cursor: pointer; 
  font-weight: 
  bold; 
}